<%- include('partials/header') %>
	<div class="jumbotron jumbotron-fluid img-responsive">
		<div class="container">
			<h1 class="display-4">Hi there,</h1>
			<p class="lead">
				Laundry and Dry Cleaning at your Convenience
			</p>
			<hr class="my-4">
			<p>Place pickup order for laundry and Dry Clean services</p>
			<a class="btn btn-primary btn-lg" href="order">Order Now</a>
		</div>
	</div>

	
	<h1 class="text-center">How it works</h1>
	<div class="row p-5">
		<div class="card col-md-3 m-5 shadow-lg">
			<img class="card-img-top" src="./img/order1.jpg" height="250">
			<div class="card-body">
				<hr>
				<h5 class="card-title">Place Order</h5>
				<p class="card-text">
					First Place Order on Lkart. At the time of placing order
					choose services.
				</p>
			</div>
		</div>
		<div class="card col-md-3 m-5 shadow-lg">
			<img class="card-img-top" src="./img/pick1.jpg" height="250">
			<div class="card-body">
				<hr>
				<h5 class="card-title">Pickup</h5>
				<p class="card-text">
					After placing order we will come for pickup within 24 hours. 
				</p>
			</div>
		</div>
		<div class="card col-md-3 m-5 shadow-lg">
			<img class="card-img-top" src="./img/laundry1.jpg" height="250">
			<div class="card-body">
				<hr>
				<h5 class="card-title">Cleaning</h5>
				<p class="card-text">
					After pickup your clothes washing, dry cleaning or iron servies 
					will start.
				</p>
			</div>
		</div>
		<div class="card col-md-3 m-5 shadow-lg">
			<img class="card-img-top" src="./img/delivery1.jpg" height="250">
			<div class="card-body">
				<hr>
				<h5 class="card-title">Delivery</h5>
				<p class="card-text">
					After completion of your cloths servies we will deliper your door step.
				</p>
			</div>
		</div>
	</div>


	<div class="container">
		<h1 class="display-4 text-center">Pricing and Servies</h1>
		<div class="row">
			<div class="col-lg-4 col-md-12 md-4 mt-4">
				<div class="card h-100 shadow-lg">
					<div class="card-body">
						<div class="text-center p-3">
							<h5 class="card-title">Laundry</h5>
							<br><br>
							<span class="h2">Rs 80/kg</span>
							<br><br>
						</div>
						<p class="card-text">Laundry is a basic of regular cleaning where we also care about strain and clothes comfort.</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              				</svg>
							Regular Washing
						</li>
						<li class="list-group-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              				</svg>
							Strain Removing
						</li>
						<li class="list-group-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              				</svg>
							Smoothing
						</li>
						<li class="list-group-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              				</svg>
							Folding
						</li>
					</ul>
				</div>
				
			</div>
			<div class="col-lg-4 col-md-12 md-4 mt-4">
				<div class="card h-100 shadow-lg">
					<div class="card-body">
						<div class="text-center p-3">
							<h5 class="card-title">Dry Cleaning</h5>
							<br><br>
							<span class="h2">Rs 40/piece</span>
							<br><br>
						</div>
						<p class="card-text">Dry Cleaning is a Standard quality of cleaning of clothes and strain removing and best for white clothes.</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              				</svg>
							Dry Cleaning
						</li>
						<li class="list-group-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              				</svg>
							Premium Strain Removing
						</li>
						<li class="list-group-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              				</svg>
							Premium Smoothing
						</li>
						<li class="list-group-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              				</svg>
							Folding
						</li>
					</ul>
				</div>
				
			</div>
			<div class="col-lg-4 col-md-12 md-4 mt-4">
				<div class="card h-100 shadow-lg">
					<div class="card-body">
						<div class="text-center p-3">
							<h5 class="card-title">Irioning</h5>
							<br><br>
							<span class="h2">Rs 10/piece</span>
							<br><br>
						</div>
						<p class="card-text">Providing steam ironing for better comfort for clothes and also good ironing servie.</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              				</svg>
							Steam Ironing
						</li>
						<li class="list-group-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              				</svg>
							Clothes Comfort
						</li>
						<li class="list-group-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              				</svg>
							Layer Ironing
						</li>
						<li class="list-group-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
							<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              				</svg>
							Proper Folding
						</li>
					</ul>
				</div>
				
			</div>
		</div>
		<div class="text-center m-5">
			<a class="btn btn-primary btn-lg" href="order">Order Now</a>
		</div>
		
	</div>


	<br>
	<br>
<%- include('partials/footer') %>
